{% extends "_base.html" %}

{% block static %}
<link rel="stylesheet" href="/static/css/timeline.css" type="text/css" media="all" />

<script type="text/javascript"> 
	var backImage = new Array(); // don't change this

	{% for bg_id in xrange(0, len(bg)) %}
	  backImage["{{ bg_id }}" + "_16"] = "/images/bgs/{{ bg_id }}_16.gif";
	  backImage["{{ bg_id }}" + "_32"] = "/images/bgs/{{ bg_id }}_32.gif";
	{% end %}

	function changeBGImage(whichImage){
	if (document.body){
	  document.body.background = backImage[whichImage];
	  }
	}
</script>
{% end %}

{% block body %}
<ul>
	{% for size in [16, 32] %}
		{% for bg_id in xrange(0, len(bg), 2) %}
			<a href="/bg?bg_id={{ bg_id }}&size={{size}}"><img border="0" src="/images/bgs/{{ bg_id }}_{{size}}.gif" width="{{size}}" height="{{size}}" onMouseOver='javascript:changeBGImage("{{ bg_id }}_{{size}}")'/></a>
		{% end %}	
		<br>
		{% for bg_id in xrange(1, len(bg), 2) %}
			<a href="/bg?bg_id={{ bg_id }}&size={{size}}"><img border="0" src="/images/bgs/{{ bg_id }}_{{size}}.gif" width="{{size}}" height="{{size}}" onMouseOver='javascript:changeBGImage("{{ bg_id }}_{{size}}")'/></a>
		{% end %}
		<br>
	{% end %}
</ul>

{% block paint %}



		<img border="0" src="/images/images/MacPaint.gif">
{% end %}
{% end %}

